__pycache__/
**/INPUT
**/PRINT
**/Errfile
**/ERRPTS
**/norm_end
**/swaninit
**/*.prt
**/*.erf
**/*_hs.blk
**/*_center.tbl

#  De referentiemappen horen juist wel in versiebeheer: de patronen
#  hierboven lijken op de namen van de referentiebestanden zelf.
!**/reference/**
!**/reference-*/**
